[user]
	name = Bernd Stolle
	email = 

[core]
    editor = vim

[push]
    default = upstream

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true

[alias]
    st = status
    ci = commit
    co = checkout
    lv = log --name-status
    ll = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
    l  = log --pretty=oneline
    ap = add --patch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[url "git@github.com:"]
    insteadOf = github:
    pushInsteadOf = github:

[github]
    user = bsx

[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 358
	main-window-view = HistoryView
